.header{
 background-color: #3671BF;
 color: #fff;
 display: flex;
 height: 70px;
 justify-content: space-around;
 align-items: center;
}

.header ul {
  display: flex;
}

.link{
  text-transform: uppercase;
  padding: 2px 3px;
}

.link:hover {
  border-bottom: 2px solid #fff;
}

.header span {
  cursor: pointer;
}

@media (max-width: 500px) {
  .header{
    flex-direction: column;
    padding:  3rem 0;
    gap: 1rem 0
  }
}







