.header{
 background-color: #174FBF;
 color: #fff;
 display: flex;
 height: 70px;
 justify-content: space-around;
 align-items: center;
}

.header ul {
  display: flex;
}

.header ul li {
  margin-right:  20px;
  padding: 2px 3px;


}

.header ul li:hover {
  border-bottom: 2px solid #fff;
}

.header span {
  cursor: pointer;

}






